@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.cookie{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  background: var(--Neutral-Neutral-100, #F3F4F6);
  text-align: center;
  line-height: 100px;
  z-index: 9999;
  display: flex;
  padding: 22px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(171, 171, 171, 0.25);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  .imageWTxt{
    margin-left: 32px;
    display: flex;
    align-items: center;
    gap: 18px;
    span{
      color: var(--Chief-Black, #1D1D1D);
      text-align: center;
      font-family: Rubik, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 22.608px; /* 113.038% */
    }
  }
  button{
    margin-right: 32px;
    display: flex;
    padding: 20px 51px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--main-green, #649612);
    color: var(--Main-white, #F5F5F5);
    font-family: Commissioner, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    &:hover {
      background: #45660e;
      transition: all 0.4s ease 0s;
    }
    &:active {
      background: #263a06;
      transition: all 0.4s ease 0s;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cookie{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 12px;
    background: var(--Neutral-Neutral-100, #F3F4F6);
    text-align: center;
    line-height: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-top: 1px solid rgba(171, 171, 171, 0.25);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    .imageWTxt{
      margin-left: 32px;
      display: flex;
      align-items: center;
      gap: 18px;
      svg{
        width: 45px;
        height: 45px;
      }
      span{
        width: 229px;
        text-align: left;
        color: var(--Chief-Black, #1D1D1D);
        font-family: Rubik, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.608px; /* 113.038% */
      }
    }
    button{
      margin-right: 0px;
      display: flex;
      height: 50px;
      padding: 20px 51px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--main-green, #649612);
      color: var(--Main-white, #F5F5F5);
      font-family: Commissioner, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &:hover {
        background: #45660e;
        transition: all 0.4s ease 0s;
      }
      &:active {
        background: #263a06;
        transition: all 0.4s ease 0s;
      }
    }
  }
}
